{% extends '../layout/base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="navSpace"></div>
    <div class="about">
        <div class="title">
            <h3>ABOUT ME</h3>
            <div class="lineHeader"></div>
        </div>
        <div class="row">
            <h4>WHO <b>AM I</b>?</h4>
            {% for paragraph in about  %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </div>   
    </div>
    {% include "../components/chatbot.html" %}
{% endblock content %}