<footer class="footer">    
    <div class="footerContainer">
        <div class="footerCol">
            <h4>CONTACT <b>ME</b></h4>
            <div class="lineFooter"></div>
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i><a href="tel:+5491162781983">+54 9 11 6278 1983</a></li>
                <li><i class="fa-solid fa-at"></i><a href="mailto:nicogonzalezcalderon@gmail.com">nicogonzalezcalderon@gmail.com</a></li>
                <li><i class="fa-solid fa-envelope"></i><a href="{% url 'opApp:contact' %}">Contact</a></li>
                <li><i class="fa-solid fa-location-dot"></i><a href="https://goo.gl/maps/tUsLtv9y1Y4pR81W9" target="_blank">Buenos Aires, Argentina</a></li>
            </ul>
        </div>
        <div class="footerCol">
            <h4>FOLLOW <b>ME</b></h4>
            <div class="lineFooter"></div>
            <div class="socialLinks">
                <a href="https://github.com/nicoCalde" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/nicolasgonzalezcalderon/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <b>Nicolas Gonzalez Calderon</b>.
        </div>
        <div class="credits">
            Designed by <a href="https://github.com/nicoCalde" target="_blank">@nicoCalde</a>
        </div>
    </div>
</footer>